p {
	margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bookOrder {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid silver;
}

.exchangeContainer {
	width: 40%;
	border: 2px solid silver;
}

.label {
	color: silver;
	margin-right: 10px;
}

.rate {
	color: green;
	margin-right: 10px;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.even {
	justify-content: space-evenly;
}

.center {
	justify-content: center;
	align-items: center;
}

.mLA {
	margin-left: auto;
}

.exchangeHeader {
	padding: 10px;
	border-bottom: 1px solid silver;
}

.sum {
	margin-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
